# plyusovp/maniacstarsbot/ManiacStarsBot-4df23ef8bd5b8766acddffe6bca30a128458c7a5/.gitignore

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Файлы IDE и редакторов кода
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Python артефакты
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Виртуальные окружения
.venv/
env/
venv/

# Файлы окружения (содержат секреты!)
.env
.env.*
!/.env.example 

# Базы данных SQLite и их журналы
*.db
*.db-journal
*.db-shm
*.db-wal

# Лог-файлы
*.log

# Зависимости Node.js из папки frontend
/frontend/node_modules/

# Файлы сборки frontend
/frontend/dist/
/docs/

# Флаги и временные файлы
*.flag